@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Color Palette
primary: #2C3E50
secondary: #34495E
accent: #1ABC9C
accentDark: #16A085
light: #ECF0F1
*/
@layer {
  body {
    @apply bg-black text-white font-sans;
  }

  header {
    @apply mx-auto justify-around items-center flex p-4;
  }

  nav ul {
    @apply flex justify-end gap-4 mr-4;
  }

  nav ul li a {
    @apply text-white hover:text-accent;
  }
  a:hober{
    
  }

  section {
    @apply p-8;
  }

  h1,
  h2 {
    @apply text-primary;
  }

  h2 {
    @apply text-3xl mb-4;
  }

  p {
    @apply mb-4;
  }
}
