@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Color Palette
primary: #2C3E50
secondary: #34495E
accent: #1ABC9C
accentDark: #16A085
light: #ECF0F1
*/
@layer {
  body {
    @apply bg-black text-white font-sans;
  }

  header {
    @apply mx-auto justify-around items-center flex p-4;
  }

  nav ul {
    @apply flex justify-end gap-4 mr-4;
  }

  nav ul li a {
    @apply text-white hover:text-accent;
  }


  section {
    @apply p-8;
  }

  h1,
  h2 {
    @apply text-primary;
  }

  h2 {
    @apply text-3xl mb-4;
  }

  p {
    @apply mb-4;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

.bg-outer-space {
  background-image: url('/outer-space-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}
